
html{
  -webkit-font-smoothing: antialiased;
}

.header-font{
  font-family: 'Lato', sans-serif;
}
h1, h2, h3, h4, h5 {
  @extend .header-font;
}

h1{
  color: color('blue-grey', 'darken-2');
  &>i.material-icons {
    @extend h1;
  }
}

h2 {
  color: color('blue-grey', 'darken-1');
}

h3, h4, h5 {
  color: color('blue-grey', 'base');
}


@each $alert_class, $color in $alerts {
  blockquote.#{$alert_class} {
    border-left-color: color($color, 'base');
  }
}



.section-header{
  @extend .blue-grey, .lighten-5;
  @extend .blue-grey-text;
  @extend .header-font;

  margin: 0;
  margin-bottom:.25rem;
  text-transform: uppercase;
  padding: .75rem;
  font-size: 2rem;

  @at-root .section{
    @extend .z-depth-1;
    margin-top: 0 !important;
    padding-top: 0 !important;

    > .section-content{
      padding: 1rem;
    }
  }
}

.page-title {
  @extend .blue-grey-text;
  @extend .header-font;
  text-align: center;
  font-size: 3rem;
}
.page-subtitle {
  color: color($secondary, "base");
  @extend .header-font;
  text-align: center;
  font-size: 2rem;

}
.project-nav{
  @extend .blue-grey-text;
  @extend .header-font;
  text-align: left;
  font-size: 2rem;
  a{

    @extend .valign-wrapper;
    @extend .themed-link;
    &>i.material-icons {
      font-size: 2.5rem;
    }
    &>span {
      @extend .valign;
    }
  }
}

.error-title{
  @extend .page-title;
  font-weight: bold;
  font-size: 5rem;
  &>i.material-icons {
    font-size: 5rem;
  }
}

.error-subtitle{
  @extend .page-subtitle;
  font-size: 3rem;
}




.project-description{
  font-size: 1.2rem;
  padding: 3rem;

}

.title{
  @extend .blue-grey-text, .text-darken-1;
  font-size: 2rem;
}



.card-title{
  text-transform: uppercase;
  font-size: 2rem;
}

.card-subtitle{
  @extend .secondary-content;
  font-size: 1.5rem;

}


.uppercase {
  text-transform: uppercase;
}
.lowercase {
  text-transform: lowercase;
}
.capitalize {
  text-transform: capitalize;
}

.themed-link{
  &:hover{@extend .blue-grey-text;}
  &:link{@extend .blue-grey-text;}
  &:visited{@extend .blue-grey-text;}
  &:active{@extend .blue-grey-text;}
}


