[Unit]
Description=Labrador Update
After=multi-user.target

[Service]
Type=idle
ExecStart=/home/pi/projects/labrador/scripts/labrador_boot.sh > /home/pi/projects/labrador/boot.log 2>&1

[Install]
WantedBy=multi-user.target
